
<!DOCTYPE html>
<html>
<head>
  <title><%= @user.name %></title>
  <link rel="stylesheet" href="/assets/users.css">
</head>
<body>
  <div class="user-container">
    <div class="user-image">
      <% if @user.photo.present? %>
        <%= image_tag @user.photo, alt: "Profile picture" %>
      <% else %>
        <p>No photo available</p>
      <% end %>
    </div>
    <div class="user-details">
      <h1><%= @user.name %></h1>
      <div class="user-posts-counter">
        <p>Number of posts: <%= @user.posts.count %></p>
      </div>
    </div>
  </div>

  <% @user.posts.each_with_index do |post, index| %>
    <div class="post-container">
      <h2>Post <%= index + 1 %> by <%= post.user.name %></h2>
      <p><%= post.text %></p>
      <p>Comments: <%= post.comments.count %>, Likes: <%= post.likes.count %></p>

      <div class="comments-section">
        <% @recent_comments[post.id].each do |comment| %>
          <p>Username: <%= comment.user.name %></p>
        <% end %>
      </div>

      <%= link_to "View Post", post_path(post), class: "view-post-link" %>
    </div>
  <% end %>

  <%= will_paginate @posts %>
</body>
</html>
