<h1><%= @post.title %></h1>
<p>By: <%= @post.author.name %></p>
<p><%= @post.content %></p>
<p>Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>

<% @post.comments.each do |comment| %>
    <p>Username: <%= comment.author.name %></p>
  <% end %>
