<h1>Post <%= @post.id %> by <%= @post.user.name %></h1>
<p><%= @post.content %></p>
<p>Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>

<% @post.comments.each do |comment| %>
  <p>Username: <%= comment.user.name %></p>
<% end %>
